.App {
    max-width: 600px;
    margin   : 0 auto;
}

.App>nav {
    display   : flex;
    height    : 3rem;
    background: #ddd;

}

.App>nav a {
    text-decoration: none;
    flex           : 1;
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : #222;
}

nav .active {
    background: #eee;
}